<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980996089388-gtijncmqgdvv1uh1konjodthvreaqvq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980996089388-gtijncmqgdvv1uh1konjodthvreaqvq5</string>
	<key>API_KEY</key>
	<string>AIzaSyC69Mu7ONz7f-1k5UiB0gHaVSIMUtAyi-A</string>
	<key>GCM_SENDER_ID</key>
	<string>980996089388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryanwadkar.fluttertest.adhicine</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-4d02d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-4d02d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980996089388:ios:06871ae7ebc7a92f88d389</string>
</dict>
</plist>